@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: none !important;
  border: none !important;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
}

.ProseMirror-focused {
  outline: none !important;
}

.ProseMirror p {
  margin: 0.8em 0;
}